Import Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Suicide Rate.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [3]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

One Hot Encoder

In [4]:
enc_ohe = OneHotEncoder(sparse=False, handle_unknown = 'ignore')

In [5]:
df_country = pd.DataFrame({'Country': df['country']})
df_country = enc_ohe.fit_transform(df_country)
df_country = pd.DataFrame(df_country, columns=['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia',
                                              'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
                                              'Bahrain', 'Barbados', 'Belarus', 'Belgium', 'Belize',
                                              'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
                                              'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia',
                                              'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominica',
                                              'Ecuador', 'El Salvador', 'Estonia', 'Fiji', 'Finland',
                                              'France', 'Georgia', 'Germany', 'Greece', 'Grenada',
                                              'Guatemala', 'Guyana', 'Hungary', 'Iceland', 'Ireland',
                                              'Israel', 'Italy', 'Jamaica', 'Japan', 'Kazakhstan',
                                              'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lithuania',
                                              'Luxembourg', 'Macau', 'Maldives', 'Malta', 'Mauritius',
                                              'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
                                              'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama',
                                              'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
                                              'Qatar', 'Republic of Korea', 'Romania', 'Russian Federation',
                                              'Saint Kitts and Nevis', 'Saint Lucia',
                                              'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
                                              'Seychelles', 'Singapore', 'Slovakia', 'Slovenia',
                                              'South Africa', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden',
                                              'Switzerland', 'Thailand', 'Trinidad and Tobago', 'Turkey',
                                              'Turkmenistan', 'Ukraine', 'United Arab Emirates',
                                              'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan'])

In [6]:
df_sex = pd.DataFrame({'Sex': df['sex']})
df_sex = enc_ohe.fit_transform(df_sex)
df_sex = pd.DataFrame(df_sex, columns=['female', 'male'])

In [7]:
df_generation = pd.DataFrame({'Generation': df['generation']})
df_generation = enc_ohe.fit_transform(df_generation)
df_generation = pd.DataFrame(df_generation, columns=['Boomers', 'G.I. Generation', 'Generation X', 
                                                    'Generation Z', 'Millenials', 'Silent'])

In [12]:
df["age"].value_counts()

35-54 years    4642
55-74 years    4642
15-24 years    4642
25-34 years    4642
75+ years      4642
5-14 years     4610
Name: age, dtype: int64

Ordinal Encoder

In [13]:
enc_oe = OrdinalEncoder(categories = [['5-14 years','15-24 years', '25-34 years',
                                       '35-54 years','55-74 years','75+ years']])

In [14]:
df_age = pd.DataFrame({'Age': df['age']})
df_age = enc_oe.fit_transform(df_age)
df_age = pd.DataFrame(df_age, columns = ['Age'])

MinMax Encoder

In [15]:
mms = MinMaxScaler()

In [16]:
df_year = pd.DataFrame({'Year': df['year']})
df_year = mms.fit_transform(df_year)
df_year = pd.DataFrame(df_year, columns = ['Year'])

Standard Scaler

In [17]:
ss = StandardScaler()

In [18]:
df_pop = pd.DataFrame({'Population': df['population']})
df_pop = ss.fit_transform(df_pop)
df_pop = pd.DataFrame(df_pop, columns = ['Population'])

In [19]:
df_SN = pd.DataFrame({'Suicide Number': df['suicides_no']})
df_SN = ss.fit_transform(df_SN)
df_SN = pd.DataFrame(df_SN, columns = ['Suicide Number'])

In [20]:
df_SR = pd.DataFrame({'Suicide Rate': df['suicides/100k pop']})
df_SR = ss.fit_transform(df_SR)
df_SR = pd.DataFrame(df_SR, columns = ['Suicide Rate'])

In [21]:
columns = df.columns

In [22]:
df_GDPcap = pd.DataFrame(df[columns[[10]]])
df_GDPcap = ss.fit_transform(df_GDPcap)
df_GDPcap = pd.DataFrame(df_GDPcap, columns = ['GDP per capita'])

In [32]:
df_preprocessed = pd.concat([df_country, df_sex, df_generation, 
                                       df_age, df_year, df_pop, df_SN,
                                       df_SR, df_GDPcap], join = "outer", axis =1, sort = False)

In [33]:
df_preprocessed.head()

,Albania,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,Bahamas,Bahrain,...,Generation X,Generation Z,Millenials,Silent,Age,Year,Population,Suicide Number,Suicide Rate,GDP per capita
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.064516,-0.391617,-0.245639,-0.322032,-0.850864
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,3.0,0.064516,-0.392870,-0.251182,-0.402196,-0.850864
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.064516,-0.397548,-0.253400,-0.421182,-0.850864
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.064516,-0.466035,-0.267811,-0.433839,-0.850864
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.064516,-0.401485,-0.258943,-0.502928,-0.850864

In [34]:
df_preprocessed["Suicide Rate"].value_counts()

-0.675913    4281
-0.660618      72
-0.659036      69
-0.657981      55
-0.656399      52
             ...
 2.053349       1
 0.873570       1
 3.002658       1
 2.555428       1
 3.351265       1
Name: Suicide Rate, Length: 5298, dtype: int64

In [38]:
#df_preprocessed.to_csv(r'DATA1030-Project\Data\Suicide Rate Preprocessed.csv', index=False)